<div class="halfBanner">
    <span>{{ tag|upper }}</span>
    <span>{{ legend }}</span>
    <span>{{ title|upper }}</span>
    <span>{{ estract }}</span>
    <a href="{{ link }}"><img src="{{ image }}" alt="banner" /></a>
</div>
