<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>
    {% block title %}{{ pathName }}{% endblock %}
</title>
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
</head>
<body style="">
    {# ESTO INCLUYE LA CABECERA #}
    {{ render(url('renderHeader')) }}
    {# ESTO INCLUYE EL CONTENIDO DE LA PÁGINA EN ESTA CAJA #}
    <div style="min-height: calc(82vh - 64px)">
    {% block body %}{% endblock %}
    </div>
    {# ESTO INCLUYE EL PIE DE PÁGINA #}
    {{ include('menufooter.html.twig') }}

    {% block javascripts %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</body>
</html>
    